<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.dao.Song_listMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.pojo.Song_list">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="pic" property="pic" />
        <result column="introduction" property="introduction" />
        <result column="style" property="style" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.yy.pojo.Song_list" extends="BaseResultMap" >
        <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, title, pic, style
  </sql>
    <sql id="Blob_Column_List" >
    introduction
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from song_list
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="allSongList" resultMap="ResultMapWithBLOBs">
        select * from tp_music.song_list
    </select>
    <select id="likeTitle" resultMap="ResultMapWithBLOBs">
        select * from tp_music.song_list
        where title like #{title}
    </select>
    <select id="likeStyle" resultMap="ResultMapWithBLOBs">
        select *
        from tp_music.song_list
        where style=#{style}
    </select>
    <select id="songListOfTitle" resultMap="ResultMapWithBLOBs">
        select *
        from tp_music.song_list
        where title=#{title}
    </select>
    
    <delete id="deleteSongList" parameterType="java.lang.Integer">
        delete from tp_music.song_list
        where id#{id}
    </delete>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tp_music.song_list
        where id=#{id}
    </delete>
    <insert id="insert" parameterType="com.yy.pojo.Song_list">
         insert into song_list (id, title, pic,
      score, introduction)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR},
      #{score,jdbcType=INTEGER}, #{introduction,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yy.pojo.Song_list">
        insert into song_list
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="pic != null" >
                pic,
            </if>
            <if test="style != null" >
                style,
            </if>
            <if test="introduction != null" >
                introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null" >
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="style != null" >
                #{style,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null" >
                #{introduction,jdbcType=LONGVARCHAR},
            </if>
        </trim>   
    </insert>
    <update id="updateSongListMsg" parameterType="com.yy.pojo.Song_list">
        update song_list
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null" >
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="style != null" >
                style = #{style,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null" >
                introduction = #{introduction,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateSongListImg" parameterType="com.yy.pojo.Song_list">
        update tp_music.song_list
        <set>
            <if test="pic !=null">
                pic = #{pic}
            </if>
        </set>
        where id=#{id}
    </update>
    
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yy.pojo.Song_list">
        update song_list
    set title = #{title,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
    style = #{style,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yy.pojo.Song_list" >
        update song_list
        set title = #{title,jdbcType=VARCHAR},
        pic = #{pic,jdbcType=VARCHAR},
        style = #{style,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
